[client]
default_character_set = utf8mb4

[mysql]
prompt = '\\u@\\h [\\d] > '
default_character_set = utf8mb4

[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_bin
lower_case_table_names = 1
default_storage_engine = InnoDB
sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY
